# Andrea Russo AR23110010747
## T16 - Practical Task 2

In [72]:
# Import pandas
import pandas as pd

In [73]:
# Create a DataFrame with balance.txt

In [74]:
df = pd.read_csv('balance.txt', sep=' ')
df.head()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian

### Comparison of average income based on ethnicity

In [75]:
# Compare the average income based on ethnicity
ethnicities = [i for i in df['Ethnicity'].unique()] # Extract ethnicities from data frame

for i in ethnicities:
    ethnic_mean_income = df[df['Ethnicity']==i]['Income'].mean()  # Compute average income for ethnicity
    print(f'The mean income for {i}s is ${ethnic_mean_income:.2f}.')

The mean income for Caucasians is $44.52.
The mean income for Asians is $44.19.
The mean income for African Americans is $47.68.

### Comparison the average income based on married status

In [76]:
# On average, do married or single people have a higher balance?
singles_avg_income = df[df['Married']=='No']['Income'].mean()
married_avg_income = df[df['Married']=='Yes']['Income'].mean()

# Display results
print(f'The average income for single people is ${singles_avg_income:.2f}.')
print(f'The average income for married people is ${married_avg_income:.2f}.')
print('The average income is greater for married people.')

The average income for single people is $43.64.
The average income for married people is $46.22.
The average income is greater for married people.

### Finding highest and lowest incomes

In [77]:
# FInd maximum and minimum valeus of the 'Income' column
highest_income = df['Income'].max()
lowest_income = df['Income'].min()

# Display results
print(f'The highest income of the dataset is ${highest_income:.2f}.')
print(f'The lowest income of the dataset is ${lowest_income:.2f}.')

The highest income of the dataset is $186.63.
The lowest income of the dataset is $10.35.

### Finding total number of cards

In [78]:
# Sum over cards number to find total
total_cards_number = df['Cards'].sum()

# Display result
print(f'The total number of cards in the dataset is {total_cards_number}.')

The total number of cards in the dataset is 1183.

### Number of information on famles and males

In [79]:
females_number = df[df['Gender']=='Female']['Gender'].count()
males_number = df[df['Gender']=='Male']['Gender'].count()

print(f'The number of females of which we have recorded information is {females_number}.')
print(f'The number of males of which we have recorded information is {males_number}.')

The number of females of which we have recorded information is 207.
The number of males of which we have recorded information is 193.